body{
	margin: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	line-height: 1.6;

}


*,
*:before,
*:after{
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}
a{
	text-decoration: none;
}
::selection{
	background-color: #70C6B9;
	color:#fff;
}
::-webkit-scrollbar{
	width: 15px;
}
::-webkit-scrollbar-track{
	background-color: #d4d4d4;
	box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;

}
::-webkit-scrollbar-thumb{
	background-color:#70C6B9;
	border-radius: 8px;
	border: 3px solid #d4d4d4;
}
.container{
	width: 80%;
	margin: 0 auto;
	padding: 0 2.5%;
}

/* ABI-TEST */
.abi-test{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
.test-title{
	margin: 10px;
}
.abi-test-inner{
	min-width: 700px;
	border: 3px solid #eee;
	border-radius: 10px;
	padding: 30px;

}
.buttons{
	display:flex;
	justify-content: flex-end;
}
.quest-title{
	margin-top:0;	
}
.test-btn{
	color:#FFFFFF;
	cursor:pointer;
	padding:5px 8px;
	font-size:16px;
	border:solid 1px #F9F9F9;
	background:#70C619;
	margin: 0;
	border-radius: 20px;
	transition: .2s linear all;
	opacity: .7;
}
.test-btn:hover {
	opacity: 1;
}
#submit-btn{
	outline:none;
	color:white;
	cursor: pointer;
	padding:5px 11px;
	font-size:16px;
	border-radius: 20px;
	transition: .2s linear all;
	border:none;
	background-color:orange;
	opacity: .7;
}
#submit-btn:hover{
	opacity: 1;
}
.quest-title{
	font-size: 20px;
}
.quest-answ input, label{
	font-size: 18px;
	cursor: pointer;
}