body{
	margin: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	line-height: 1.6;
}


*,
*:before,
*:after{
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}
a{
	text-decoration: none;
}
::selection{
	background-color: #70C6B9;
	color:#fff;
}
::-webkit-scrollbar{
	width: 15px;
}
::-webkit-scrollbar-track{
	background-color: #d4d4d4;
	box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;

}
::-webkit-scrollbar-thumb{
	background-color:#70C6B9;
	border-radius: 8px;
	border: 3px solid #d4d4d4;
}
.container{
	width: 80%;
	margin: 0 auto;
	padding: 0 2.5%;
}
/* HEADER */
.header{
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	background-color: #ebf2ff;
	position: relative;
	z-index: 1000;
}
.header-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-img{
	display: block;
}
/* NAVIGATION */
.nav{
	width: 50%;
	display: flex;
	justify-content: space-between;

}
.nav__item{
	color: black;
	font-weight: bold;
	cursor: pointer;
	transition: .2s linear all;
}
.nav__item:hover{
	color: #70C6B9
}
/* THEME */
.change-theme{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.theme-delimiter{
	width: 2px;
	height: 25px;
	background-color: black;
	margin: 0 15px;
}
.theme-icon{
	color: black;
	transition: .2s linear all;
	cursor: pointer;
}
.theme-icon:hover{
	color: #70C6B9
}
.active{
	color: #70C6B9;
}

/* FOOTER */
.footer{
	flex: 0 0 auto;
	box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.3);
	background-color: #ebf2ff;
}
.footer-inner{
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-row-gap:10px;
	grid-column-gap: 50px; 
	align-items: start;
	padding-top: 20px;
}
/* FORM */
.contact-form{
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap: 10px;
}
.form-label{
	grid-column: -1/1;
}
.form-txt {
	color:#676767;
	border:1px solid #CCC;
	padding:5px 9px;
	font-size:15px!important;
	line-height:1.4em;
	width: 100%;
	outline: none;   
}
.form-txtarea {
	display:inline-block;
	color:#676767;
	width:100%;
	max-width: 100%;
	border:1px solid #CCC;
	padding:5px 9px;
	font-size:15px!important;
	line-height:1.4em;
	height:150px;
	max-height: 150px;
	grid-column: -1/1;
	outline: none; 
}
.form-txt:focus, .form-txtarea:focus {
	border-style:solid;
	border-color:#2e2b2b;
	color:#444;
}
.send-button { 
	color:#FFFFFF;
	cursor:pointer;
	padding:8px 11px;
	font-size:1.2em;
	border:solid 1px #F9F9F9;
	background:#70C6B9;
	margin: 0;
	border-radius: 10px;
	transition: .2s linear all;

}
.send-button:hover {
	background:#979797;
}
/* ABOUT */
.about{
	align-self: center;
}
.about-title{
	text-align: center;
}
.about-text{
	margin: 0;
	text-align: justify;
}
/* SOCIAL */
.social{
	font-size: 26px;  
	grid-column: -1/1;
	text-align: center;
}
.social-icon{
	color: black;
	margin: 0 3px;
	transition: .2s linear all;
	cursor: pointer;
}
.social-icon:hover{
	color: #70C6B9;
}
/* COPYRIGHT */
.copyright{
	font-size: 14px;
	grid-column: -1/1;
	text-align: center;
	margin-bottom: 10px;
}

/* CODE FOR THAT THE FOOTER WAS LOWER THE PAGE */
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
	background-color: white;
}
html,
body {
	height: 100%;
}