/* INTRO */
.intro-inner {
	height: 90vh;
	color: white;
	position: relative;
}
.intro__item{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
}
#intr-item-1{
	background-image: url(../images/intro-1.jpg);
}
#intr-item-2{
	background-image: url(../images/intro-2.jpg);
}
#intr-item-3{
	background-image: url(../images/intro-3.jpg);
}
#intr-item-4{
	background-image: url(../images/intro-4.jpg);
}
/*SLIDER*/
.dots{
	width: 100%;
	position: absolute;
	bottom: 2%;
	display: flex;
	justify-content: center;
}
.dot{
	width: 10px;
	height: 10px;	
	background-color: rgba(0,0,0, 0.6);
	border-radius: 50%;
	margin: 10px;
	box-shadow: 0 0 0 5px rgba(0,0,0, 0.4);
	transition: all .2s linear;
	cursor: pointer;
}

.active{
	background-color: rgba(236, 235, 235, 0.6);
}
.arrows {
	display: flex;
	width: 100%;;
	justify-content: space-between;
	position: absolute;
	top:46%;
}

.arrow-prev, .arrow-next {
	width: 50px;
	height: 50px;
	background-color: rgba(0,0,0, 0.6);
	border-radius: 50%;
	margin: 0 4px;
	position: relative;
	cursor: pointer;
	transition: 0.3s ease;
	box-shadow: 0 0 0 0 rgba(0,0,0, 0.5);
}

.arrow-prev:hover, .arrow-next:hover {
	box-shadow: 0 0 0 5px rgba(0,0,0, 0.4);
}

.arrow-prev:focus, .arrow-next:focus {
	box-shadow: 0 0 0 5px rgba(0,0,0, 0.4);
	outline: none;
}

.arrow-prev:active, .arrow-next:active {
	box-shadow: 0 0 0 5px rgba(0,0,0, 1);
}

.arrow-prev::before,
.arrow-prev::after,
 .arrow-next::after,
  .arrow-next::before {
	content: '';
	width: 40%;
	height: 4px;
	margin-top: -2px;
	background: #ffffff;
	position: absolute;
	top: 50%;
	border-radius: 4px;
}

.arrow-prev::before,
 .arrow-next::before {
	transform: rotate(45deg);
}

.arrow-prev::after,
 .arrow-next::after {
	transform: rotate(-45deg);
}

.arrow-prev::before,
 .arrow-prev::after {
	left: 32%;
}

.arrow-prev::before,
 .arrow-next::before {
	transform-origin: 0 0;
}

.arrow-prev::after,
 .arrow-next::after {
	transform-origin: 0 100%;
}

.arrow-next::before,
 .arrow-next::after {
	right: 32%;
}

.arrow-next::before {
	transform-origin: 100% 100%;
}

.arrow-next::after {
	transform-origin: 100% 0;
}
.fade{
	-webkit-animation-name:fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade{
	from{opacity: .1}
	to{opacity: 1}
}
/*TIMER*/
.timer {
	font-size: 100px;
	font-weight: bold;
}

/* CHOICE-BLOCK */

.choice-block {
	margin: 15px 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 15px;
}

.choice-block-img {
	width: 100%;
	max-width: 100%;
	height: 100%;
}

.choice-block__item {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.choice-btn {
	text-decoration: none;
	outline: none;
	display: inline-block;
	color: white;
	width: 70%;
	padding: 10px 30px;
	margin-top: 15px;
	border-radius: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
	background-size: 200% auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	transition: .5s;
}

.choice-btn:hover {
	background-position: right center;
}

/* LINKS-BLOCK */

.links-block-title {
	text-align: center;
}

.links-block-list {
	counter-reset: li;
	list-style: none;
	font: 14px "Trebuchet MS", "Lucida Sans";
	padding: 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.links-block-list a {
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	margin: .5em 0;
	background: #DAD2CA;
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: .3s ease-out;
}

.links-block-list a:hover {
	background: #E9E4E0;
}

.links-block-list a:hover:before {
	transform: rotate(360deg);
}

.links-block-list a:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #70C6B9;
	;
	height: 2em;
	width: 2em;
	line-height: 1.5em;
	border: .3em solid white;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
}


