<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/css/abi-test.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">
	<script src="../assets/js/abi-test.js"></script>
</head>
<body>
	<div class="container">
		<form action="#" method="post" class="abi-test">
			<div class="abi-test-inner">
				<div class="abi-test__item">
					<p><b>Запитання №1</b> Якого дімопотама ви любите найбільше?</p>
					<p><input type="radio" name="dimopotam" value="Голенький">Голенький</p>
					<p><input type="radio" name="dimopotam" value="П*яненький">П*яненький</p>
					<p><input type="radio" name="dimopotam" value="Миленький">Миленький</p>
					<p><input type="radio" name="dimopotam" value="Пухнастий">Пухнастий</p>
				</div>
				<div class="abi-test__item">
					<p><b>Запитання №2</b> Якого олегатора ви любите найбільше?</p>
					<p><input type="radio" name="olegator" value="Кусючий">Кусючий</p>
					<p><input type="radio" name="olegator" value="Кучерявенький">Кучерявенький</p>
					<p><input type="radio" name="olegator" value="Взбударажений">Взбударажений</p>
					<p><input type="radio" name="olegator" value="Зубастий">Зубастий</p>
				</div>
				<div class="abi-test__item">
					<p><b>Запитання №3</b> Яку світлану ви любите найбільше?</p>
					<p><input type="radio" name="svitlana" value="Відважна">Відважна</p>
					<p><input type="radio" name="svitlana" value="Математична">Математична</p>
					<p><input type="radio" name="svitlana" value="Закохана у дімопотама">Закохана у дімопотама</p>
					<p><input type="radio" name="svitlana" value="Намана">Намана</p>
				</div>
				<a class="test-btn" id = "prev-btn">Попереднє запитання</a>
				<a class="test-btn" id = "next-btn">Наступне запитання</a>
				<INPUT id = "submit-btn" type="submit" value="Відправити відповіді" class="submit-btn"/>
			</div>	

		</form>
	</div>

	
</body>
</html>