<!DOCTYPE html>
<html lang="uk">

<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/css/abi-test.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic"
		rel="stylesheet">
	<script src="../assets/js/abi-test.js"></script>
</head>

<body>
	<div class="container">
		
		<form action="#" method="post" class="abi-test">
			<h1 class="test-title">Тест на вашу майбутню професію</h1>
			<div class="abi-test-inner">
				<div class="abi-test__item">
					<p class="quest-title"><b>Запитання №1</b> Яке ваше найбільше захоплення?</p>
					<p class="quest-answ">	
						<input type="radio" name="hobby" value="Малювання" id ="draw">
						<label for="draw">Малювання</label>
					</p>
					<p class="quest-answ">	
						<input type="radio" name="hobby" value="Спорт" id ="sport">
						<label for="sport">Спорт</label>
					</p>
					<p class="quest-answ">	
						<input type="radio" name="hobby" value="Музика" id ="music">
						<label for="music">Музика</label>
					</p>
					<p class="quest-answ">	
						<input type="radio" name="hobby" value="Програмування" id ="program">
						<label for="program">Програмування</label>
					</p>
				</div>
				<div class="abi-test__item">
					<p class="quest-title"><b>Запитання №2</b> Як ви навчалися в школі?</p>
					<p class="quest-answ">	
						<input type="radio" name="rating" value="2-4" id ="2-4">
						<label for="2-4">2-4</label>
					</p>
					<p class="quest-answ">	
						<input type="radio" name="rating" value="4-7" id ="4-7">
						<label for="4-7">4-7</label>
					</p>
					<p class="quest-answ">	
						<input type="radio" name="rating" value="7-10" id ="7-10">
						<label for="7-10">7-10</label>
					</p>
					<p class="quest-answ">	
						<input type="radio" name="rating" value="10-12" id ="10-12">
						<label for="10-12">10-12</label>
					</p>
				</div>
				<div class="abi-test__item">
					<p class="quest-title"><b>Запитання №3</b> Яка професія з переліку найбільше відштовхує?</p>
					<p class="quest-answ">	
						<input type="radio" name="profession" value="Програміст" id ="programmer">
						<label for="programmer">Програміст</label>
					</p>
					<p class="quest-answ">	
						<input type="radio" name="profession" value="Вчитель" id ="teacher">
						<label for="teacher">Вчитель</label>
					</p>
					<p class="quest-answ">	
						<input type="radio" name="profession" value="Тренер" id ="coach">
						<label for="coach">Тренер</label>
					</p>
					<p class="quest-answ">	
						<input type="radio" name="profession" value="Художник" id ="painter">
						<label for="painter">Художник</label>
					</p>
				</div>
				<div class="buttons">
					<a class="test-btn" id="prev-btn">Попереднє запитання</a>
					<a class="test-btn" id="next-btn">Наступне запитання</a>
					<INPUT id="submit-btn" type="submit" value="Відправити відповіді" class="submit-btn" />
				</div>
			</div>

		</form>
	</div>


</body>

</html>